.user-name {
    background: rgb(194, 204, 255);
    background: radial-gradient(circle, rgba(194, 204, 255, 1) 0%, rgba(94, 77, 255, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.user-name form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.user-name input {
    outline: none;
    width: 280px;
    font-size: 24px;
    border-radius: 16px;
    padding: 4px 16px;
    border: none;
    color: #3377FF;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}




.button {
    padding: 4px 24px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px;
    font-size: 24px;

}

.button:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.main {
    background: rgb(2, 0, 36);
    background: linear-gradient(176deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(193, 255, 218, 1) 59%, rgba(74, 251, 145, 1) 100%);
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.right {
    display: flex;
    justify-content: center;
}

.inputsection {
    margin: 30px;
    background-color: #f5f8ff;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 4px 20px;
    max-width: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputsection i {
    color: #413dff;
    font-size: 24px;
}

.inputsection form input {
    background-color: #f5f8ff;
    width: 100%;
    outline: none;
    border: none;
    padding: 4px 16px;
    color: #413dff;
    font-size: 20px;

}

.inputsection form input::placeholder {
    color: #0400ff;
}