* {
  padding: 0px;
  margin: 0px;
  font-family: 'Kanit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(176deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(193, 255, 218, 1) 59%, rgba(74, 251, 145, 1) 100%);
}